.header img{
    height:100px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height:50px;
    font-size: 20px;  
}
.header  nav a{ 
    margin-left: 50px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.header nav a:hover{
    background-color:gray;
}
.inputField{
  
    background-color:rgb(42, 41, 41);
    height:60px;
}
.inp{
    text-align: left;
    height:40px;
    width: 90%;
    margin-top:5px;
    font-size: 20px;
    border: 2px solid rgb(59, 55, 55);
    border-radius:5px
}